.form {
  width: 400px;
  height: 450px;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

mat-form-field {
  width: 350px;
}
