.menu-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.newpost-input {
  width: 400px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  height: 45px;
}
.menu {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.avatar-mini {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
