<mat-card class="wrapper">
  <div class="title">{{ user.username }}</div>
  <mat-divider></mat-divider>
  <img
    class="avatar"
    src="https://data.whicdn.com/images/322027365/original.jpg"
  />
  <mat-divider></mat-divider>
  <div class="settings">
    <mat-icon matRipple class="icon center-middle">camera_alt</mat-icon>
  </div>
  <mat-divider></mat-divider>
  <div class="user-details">
    <div class="detail">
      <span>Email: {{ user.email }}</span>
    </div>
    <div class="detail">
      <span>Registration date: 2021-01-01</span>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="user-stats">
    <div class="stat"><span>Posts</span> <span>100</span></div>
    <div class="stat"><span>Comments</span> <span>1.0K</span></div>
    <div class="stat"><span>Fame</span> <span>7K</span></div>
  </div>
  <mat-divider></mat-divider>
</mat-card>
