<mat-card class="wrapper">
  <p class="title">{{ user.username }}</p>
  <mat-divider></mat-divider>
  <img
    class="avatar"
    src="https://data.whicdn.com/images/322027365/original.jpg"
  />
  <mat-divider></mat-divider>
  <div class="user-details">
    <p class="detail">
      <span>Email: {{ user.email }}</span>
    </p>
    <p class="detail">
      <span>Registration date: 2021-01-01</span>
    </p>
  </div>
  <mat-divider></mat-divider>
  <div class="user-stats">
    <p class="stat"><span>Posts</span> <span>100</span></p>
    <p class="stat"><span>Comments</span> <span>1.0K</span></p>
    <p class="stat"><span>Fame</span> <span>7K</span></p>
  </div>
  <mat-divider></mat-divider>
</mat-card>
