.bg {
  background-color: black;
  height: 100vh;
  overflow: hidden;
}
.content-wrapper {
  height: 93vh;
  overflow: auto;
  width: 100%;
}

.add-comment {
  max-width: 600px;
  margin: 0 auto;
}


