<mat-card class="content">
  <div class="title">Account Settings</div>
  <div class="title-small">Account preferences</div>
  <mat-divider></mat-divider>

      <div class="element">
        <span class="element-title">Email address 
          <span class="element-small">{{ user.email }}</span>
        </span>
        <button
          mat-raised-button
          class="button" (click)="openDialog('email')">Change
        </button>
      </div>

      <div class="element">
        <span class="element-title">Change password
          <span class="element-small">Password must be at least 8 characters long, contain one uppercase and one special character</span>
        </span>
        <button
          mat-raised-button
          class="button" (click)="openDialog('password')">Change
        </button>
      </div>

      <div class="element">
        <span class="element-title">Set gender
          <span class="element-small">This information is used only to improve content</span>
        </span>
        <form class="button">
          <mat-form-field appearance="outline" class="button-form">
            <mat-label>{{ gender | titlecase }}</mat-label>
            <mat-select
              [(ngModel)]="genderValue"
              name="gender"
              (selectionChange)="changeGender($event.value)">
              <mat-option *ngFor="let gender of genders" [value]="gender.value">
                {{ gender.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>

      <div class="element">
        <span class="element-title">Change country
          <span class="element-small">Change your location</span>
        </span>
        <form class="button">
          <mat-form-field appearance="outline" class="button-form">
            <mat-label>{{ country }}</mat-label>
            <mat-select
              [(ngModel)]="countryValue"
              name="country"
              (selectionChange)="changeCountry($event.value)">
              <mat-option
                *ngFor="let country of countries"
                [value]="country.value">
                {{ country.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>

      <div class="element">
        <span class="element-title">Delete my account
          <span class="element-small">This action is permanent</span>
        </span>
        <button
          mat-raised-button
          class="button"
          (click)="openDialog('delete-acc')">Delete
        </button>
      </div>

      <div class="element">
        <span class="element-title">Refresh JWT
          <span class="element-small">Refresh your JSON Web Token</span>
        </span>
        <button
          mat-raised-button
          class="button"
          (click)="refreshJWT()">Refresh
        </button>
      </div>
  <mat-divider></mat-divider>
</mat-card>
