<mat-toolbar class="navbar">
  <div>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="searchbar-wrapper">
    <mat-form-field class="searchbar" appearance="fill">
      <mat-label>Search</mat-label>
      <input
        type="text"
        placeholder="Ex. Jokes"
        matInput
        [formControl]="searchControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    <button mat-icon-button>
      <mat-icon [matMenuTriggerFor]="menu">person</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Logout</button>
      </mat-menu>
    </button>
  </div>
</mat-toolbar>
