.comments-wrapper {
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
}

.post-wrapper {
  margin: 0 auto;
  margin-top: 100px;
  width: 600px;
}
.bg {
  background-color: black;
  height: 100vh;
  overflow: auto;
}
