.comments-wrapper {
  margin: 0 auto;
  max-width: 600px;
}

.post-wrapper {
  margin: 0 auto;
  max-width: 600px;
}
.bg {
  background-color: black;
  height: 100vh;
  overflow: hidden;
}
.content-wrapper{
  height: 93vh;
  overflow: auto;
}