<div class="bg">
  <div>
    <app-navbar></app-navbar>
  </div>
  <div class="content-wrapper">
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayout.lt-sm="column"
      fxLayout.sm="column"
      fxLayout.md="column"
      fxFlexFill
    >
      <div fxFlex="20" fxHide.xs fxHide.lt-sm fxHide.sm fxHide.md></div>
      <div fxFlex="40" class="main-content">
        <mat-card class="menu">
          <button
            mat-raised-button
            class="menu-buttons"
            (click)="change('posts')"
          >
            Posts
          </button>
          <button
          mat-raised-button
          class="menu-buttons"
          (click)="change('hidden-posts')"
        >
          Hidden Posts
        </button>
          <button
            mat-raised-button
            class="menu-buttons"
            (click)="change('comments')"
          >
            Comments
          </button>
        </mat-card>
        <div *ngIf="show == 'posts'">
          <app-post
            *ngFor="let post of posts"
            [post]="post"
            [page]="'profile-post'"
          ></app-post>
        </div>
        <div *ngIf="show == 'comments'">
          <app-comment
            *ngFor="let comment of comments"
            [comment]="comment"
            [page]="'profile-comment'"
          ></app-comment>
        </div>
        <div *ngIf="show == 'hidden-posts'">
          <app-post
            *ngFor="let post of posts"
            [post]="post"
            [page]="'profile-post-hidden'"
          ></app-post>
        </div>
      </div>

      <div fxFlex="20" fxHide.xs fxHide.lt-sm fxHide.sm fxHide.md>
        <app-user-profile></app-user-profile>
      </div>
      <div fxFlex="20" fxHide.xs fxHide.lt-sm fxHide.sm fxHide.md></div>
    </div>
  </div>
</div>
