<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <span (click)="goTo()" class="clickable">{{ post.title }}</span>
    </mat-card-title>
    <mat-card-subtitle class="clickable" *ngIf = "post.op">{{ post.op.username }}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="!post.mediaHidden && post.postMedia && post.postMedia.type === 'image'" mat-card-image [src]="post.postMedia.url" alt="media"/>
  <mat-card-content>
    <p>{{ post.content }}</p>
  </mat-card-content>
  <mat-card-actions class="center-left">
    <button mat-button (click)="post.mediaHidden = !post.mediaHidden">Toggle Media</button>
    <mat-icon matRipple class="icon center-middle" (click)="upvote()">thumb_up_alt</mat-icon>
    <span class="text center-middle"> {{ post.likes | kFormatter }} </span>
    <mat-icon matRipple class="icon center-middle" (click)="downvote()">thumb_down_alt</mat-icon>
    <mat-icon matRipple class="icon center-middle" (click)="goTo()">comment</mat-icon>
    <span class="text center-middle">{{ post.comments | kFormatter }} </span>
    <mat-icon matRipple class="icon center-middle" (click)="hide()">remove_red_eye</mat-icon>
  </mat-card-actions>
</mat-card>
