<mat-card class="wrapper">
  <p class="title">Recent posts</p>
  <div *ngFor="let post of posts">
    <div class="post">
      <div class="post-content">
        <img
          src="https://images.pexels.com/photos/2486168/pexels-photo-2486168.jpeg"
          class="post-img"
        />
        <span class="post-text">
          {{ post.title }}
        </span>
      </div>
      <div class="post-details">
        Likes: {{ post.likes | kFormatter }} - Comments:
        {{ post.comments | kFormatter }} - {{ post.creationDate | timePassed }}
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</mat-card>
