.search-bar {
  width: 400px;
  font-size: 12px;
  height: 45px;
}

.communities-select {
  font-size: 12px;
  height: 45px;
}

.left-content {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
}
.middle-content {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  margin: 0 auto;
}
.right-content {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}
.navbar {
  height: 64px;
  min-height: 64px !important;
  width: 100%;
}
.middle {
  margin: 0 auto;
}
