.wrapper {
  width: 300px;
  margin: 0 auto;
  margin-left: 20px;
  margin-top: 20px;
  position: fixed;
}

.title {
  margin: 0 auto;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.description {
  font-size: 14px;
}

.details {
  font-size: 12px;
}
