
.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.content {
  margin-top: 10px;
}
mat-card {
  border: 1px gray solid;
}
