<mat-card class="card" (click)="goToComment(comment)">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-subtitle class="original-poster" *ngIf="comment.author">{{ comment.author.username }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="content">
    <p>{{ comment.content }}</p>
  </mat-card-content>

  <mat-card-actions class="center-left">
    <mat-icon matRipple class="icon center-middle" (click)="upvote(comment)">thumb_up_alt</mat-icon>
    <span class="text center-middle"> {{comment.likes | kFormatter}} </span>
    <mat-icon matRipple class="icon center-middle" (click)="downvote(comment)">thumb_down_alt</mat-icon>
    <mat-icon matRipple class="icon center-middle" (click)="comment.childsHidden = !comment.childsHidden">comment</mat-icon>
    <span class="text center-middle"> {{comment.replays | kFormatter}} </span> 
    <mat-icon matRipple class="icon center-middle" *ngIf="comment.id" (click)="replyToComment()">reply</mat-icon>
  </mat-card-actions>

  <div *ngIf="comment.childsHidden && comment.childs!.length !=0 ">
    <app-comment-item *ngFor="let child of comment.childs" [comment]="child"></app-comment-item>
  </div>

</mat-card>
