<div class="content">
  <p mat-dialog-title *ngIf="data.modalDetails.title">
    {{ data.modalDetails.title }}
  </p>

  <div mat-dialog-content>
    <p class="subtitle" *ngIf="data.modalDetails.subtitle">
      {{ data.modalDetails.subtitle }}
    </p>
    <mat-divider></mat-divider>

    <p class="details" *ngIf="data.modalDetails.details">
      {{ data.modalDetails.details }}
    </p>

    <mat-form-field appearance="fill" class="form-input">
      <mat-label>{{ data.modalDetails.title }}</mat-label>
      <input matInput #input />
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <mat-dialog-actions class="dialog-actions">
    <button mat-raised-button (click)="action(input.value)">Submit</button>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
  </mat-dialog-actions>
</div>
