<div class="bg">
  <div>
    <app-navbar></app-navbar>
  </div>
  <div class="content-wrapper">
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayout.lt-sm="column"
      fxLayout.sm="column"
      fxLayout.md="column"
      fxFlexFill
    >
      <div fxFlex="20" fxHide.xs fxHide.lt-sm fxHide.sm fxHide.md></div>
      <div fxFlex="40" class="main-content">
        <app-menubar></app-menubar>
        <app-post *ngFor="let post of posts" [post]="post"></app-post>
      </div>

      <div fxFlex="20" fxHide.xs fxHide.lt-sm fxHide.sm fxHide.md>
        <app-topcommunities></app-topcommunities>
      </div>
      <div fxFlex="20" fxHide.xs fxHide.lt-sm fxHide.sm fxHide.md></div>
    </div>
  </div>
</div>
