<div class="bg">
    <div>
      <app-navbar-item></app-navbar-item>
    </div>
    <div class="content-wrapper">
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayout.lt-sm="column"
        fxLayout.sm="column"
        fxLayout.md="column"
        fxFlexFill
      >
        <div fxFlex="20" fxHide.xs fxHide.lt-sm fxHide.sm fxHide.md></div>
        <div fxFlex="40" class="main-content">
          <app-menu-bar *ngIf="community" [community]="community"></app-menu-bar>
          <app-not-found-item [entry]="'community'" *ngIf="!community"></app-not-found-item>
          <app-post-item *ngFor="let post of posts" [post]="post"></app-post-item>
        </div>
  
        <div fxFlex="20" fxHide.xs fxHide.lt-sm fxHide.sm fxHide.md>
          <app-community-details [community]="community"></app-community-details>
        </div>
        <div fxFlex="20" fxHide.xs fxHide.lt-sm fxHide.sm fxHide.md></div>
      </div>
    </div>
  </div>
  