<div class="content">
    <p mat-dialog-title>Password</p>
    <div mat-dialog-content>
      <p class="subtitle">Change your current password</p>
      <mat-divider></mat-divider>
      <p class="details">Enter your current password</p>
      <mat-form-field appearance="fill" class="form-input">
        <mat-label>Password</mat-label>
        <input matInput #password />
      </mat-form-field>
      <p class="details">Enter your new password</p>
      <mat-form-field appearance="fill" class="form-input">
        <mat-label>Password</mat-label>
        <input matInput #newPassword />
      </mat-form-field>
      <p class="details">Confirm your new password</p>
      <mat-form-field appearance="fill" class="form-input">
        <mat-label>Confirm password</mat-label>
        <input matInput #confirmNewPassword />
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <mat-dialog-actions class="dialog-actions">
      <button mat-raised-button (click)="action(password.value, newPassword.value, confirmNewPassword.value)">Submit</button>
      <button mat-raised-button [mat-dialog-close]="'cancel'">Cancel</button>
    </mat-dialog-actions>
  </div>
  