.bg {
  background-color: black;
  height: 100vh;
  overflow: auto;
}

.content-wrapper {
  height: 93vh;
  overflow: auto;
  width: 100%;
}

.main-content {
  margin-left: 5px;
  margin-right: 5px;
}
