<mat-card class="post-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title
      ><span (click)="goTo()">{{ post.name }}</span>
    </mat-card-title>
    <mat-card-subtitle>{{ post.authorId }}</mat-card-subtitle>
  </mat-card-header>
  <img
    *ngIf="!post.mediaHidden"
    mat-card-image
    [src]="post.media"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      {{ post.content }}
    </p>
  </mat-card-content>
  <mat-card-actions class="center-left">
    <button mat-button (click)="post.mediaHidden = !post.mediaHidden">
      Toggle Media
    </button>
    <mat-icon matRipple class="icon center-middle">thumb_up_alt</mat-icon>
    <span class="text center-middle"> 892.3K </span>
    <mat-icon matRipple class="icon center-middle">thumb_down_alt</mat-icon>
    <mat-icon matRipple class="icon center-middle">comment</mat-icon>
    <span class="text center-middle"> 2.4k </span>
  </mat-card-actions>
</mat-card>
