.post-card {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.icon {
  font-size: 20px;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.icon:hover {
  background-color: hsla(0, 0%, 40%, 0.2);
}

.text {
  height: 35px;
  width: fit-content;
  font-size: 12px;
  border-radius: 5px;
  padding: 0.5px;
}

.center-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-left {
  display: flex;
  justify-content: left;
  align-items: center;
}
