<div class="bg">
  <div>
    <app-navbar-item></app-navbar-item>
  </div>
  <div class="content-wrapper">
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayout.lt-sm="column"
      fxLayout.sm="column"
      fxLayout.md="column"
      fxFlexFill>
      
      <div fxFlex="20" fxHide.xs fxHide.lt-sm fxHide.sm fxHide.md></div>
      <div fxFlex="40" class="main-content">

        <mat-card class="menu">
          <button mat-raised-button class="menu-buttons" (click)="change('posts')">Posts</button>
          <button mat-raised-button class="menu-buttons" (click)="change('hidden-posts')">Hidden Posts</button>
          <button mat-raised-button class="menu-buttons" (click)="change('comments')">Comments</button>
          <button mat-raised-button class="menu-buttons" (click)="change('communities')">Communities</button>
        </mat-card>

        <div *ngIf="page === 'posts'">
          <app-profile-post-item *ngFor="let post of ownedPosts" [post]="post" [page]="'visible'"></app-profile-post-item>
        </div>
        <div *ngIf="page === 'comments'">
          <app-profile-comment-item *ngFor="let comment of ownedComments" [comment]="comment"></app-profile-comment-item>
        </div>
        <div *ngIf="page === 'hidden-posts'">
          <app-profile-post-item *ngFor="let post of ownedPosts" [post]="post" [page]="'not-visible'"></app-profile-post-item>
        </div>
        <div *ngIf="page ==='communities'">
          <app-not-found-item *ngIf="ownedCommunities.length === 0" [entry]="'community'"></app-not-found-item> 
          <app-profile-community-item *ngFor="let community of ownedCommunities" [community]="community"></app-profile-community-item>
        </div>
      </div>

      <div fxFlex="20" fxHide.xs fxHide.lt-sm fxHide.sm fxHide.md>
        <app-profile-item></app-profile-item>
      </div>
      <div fxFlex="20" fxHide.xs fxHide.lt-sm fxHide.sm fxHide.md></div>
    </div>
  </div>
</div>
